# Contains Duplicate

In [48]:

class Check():
    
    def __init__(self, in_list):
        print("Checking has started...")
        
        self.in_list = in_list
        self.contains_duplicate()
    
    def contains_duplicate(self):
        print(True) if len(self.in_list)>len(set(self.in_list)) else print(False)         

input_list = [2,3,4,4,4,5,5,6]

c = Check(input_list)

Checking has started...
True

# Anagram

In [54]:
def check_anagram(word1, word2):
    print(True) if sorted(word1) == sorted(word2) else print(False)

check_anagram("cat", "tac")

False

# Target Sum by adding two values

In [64]:
#one liner with two for loop
def target_sum(input_list, target):
    return [[i, j] for i in range(len(input_list)) for j in range(i+1, len(input_list)) if input_list[i]+input_list[j] == target]
    
input_list = [1,4,6,7,8,2]
target = 10

target_sum(input_list, target)

[[1, 2], [4, 5]]

In [67]:
#using one for loop
def target_sum(input_list, target):
    
    compliment_dict = {}
    output_list = []
    
    for i, val in enumerate(input_list):
        
        remaining = target - val
        
        if remaining in compliment_dict:
            
            output_list.append([compliment_dict[remaining], i])
        
        compliment_dict[val] = i
    
    return output_list  

input_list = [1,4,6,7,8,2]
target = 10

target_sum(input_list, target)

[[1, 2], [4, 5]]

# Group Anagram

In [77]:
def group_anagram(word_list):
    
    out_dict = {}
    
    for w in word_list:
        sorted_word = "".join(sorted(w))
        
        if  sorted_word in out_dict:
            out_dict[sorted_word].append(w)
        else:
            out_dict[sorted_word] = [w]
    
    print(list(out_dict.values()))

word_list = ["eat", "tea", "aet", "nat", "tan", "bat"]
group_anagram(word_list)

[['eat', 'tea', 'aet'], ['nat', 'tan'], ['bat']]

In [71]:
#using recursion
def group_anagram(word_list, out_list = []):
    
    if len(word_list)==0:
        print(out_list)
        return
    
    check_word = word_list[0]
    out_list.append([check_word])
    
    temp_word_list = []
    
    for i in range(1, len(word_list)):
        if sorted(check_word) == sorted(word_list[i]):
            out_list[-1].append(word_list[i])
        else:
            temp_word_list.append(word_list[i])
    
    group_anagram(temp_word_list, out_list)
                  

word_list = ["eat", "tea", "aet", "nat", "tan", "bat"]
group_anagram(word_list)

[['eat', 'tea', 'aet'], ['nat', 'tan'], ['bat']]

# Top K frequent elements

In [10]:
def find_given_frequent_element(in_list, k):
    
    out_dict = {}
    
    for i in set(in_list):
        out_dict[i] = in_list.count(i)
    
    out_list = []
    
    for j in range(k):
        
        max_val = 0
        max_count = 0
        
        for key, val in out_dict.items():
            if val>max_count:
                max_val = key
                max_count = val
        
        out_list.append(max_val)
        del out_dict[max_val]
    
    
    return out_list
    
    
in_list = [6,6,7,7,8,9]    
k = 2
find_given_frequent_element(in_list, k)

[6, 6]

In [17]:
def find_given_frequent_element(in_list, k):
    
    out_count = []
    out_val = []
    
    for i in set(in_list):
        out_val.append(i)
        out_count.append(in_list.count(i))
    
    out_list = []
    
    for j in range(k):
        index = out_count.index(max(out_count))
        out_list.append(out_val[index])
        
        del out_count[index]
        del out_val[index]
    
    return out_list
    
    
in_list = [6,6,7,8,9,9,9]    
k = 2
find_given_frequent_element(in_list, k)

[9, 6]

# product of array except self

In [20]:
def multiply_except_value(lst):
    n = len(lst)
    product = 1
    for i in range(n):
        product *= lst[i]
    
    result = [product // lst[i] for i in range(n)]
    return result
multiply_except_value([1,2,3,4])

[24, 12, 8, 6]

# Valid Sudoku

In [11]:
def check_condition(in_list):
    
    if len(set(in_list)) != len(in_list):
        return False
    for i in in_list:
        if i < 0 or i > 10:
            return False
    
    return True
    
def sub_box_check(matrix):

def valid_sudoku(matrix):
    
    
    if not(sub_box_check()):
        return False
    
    return True

matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]

valid_sudoku(matrix)

False

# Longest sequence

# Palindrome using two pointer

# Water Container

In [15]:
#bruteforce
def max_possible_water_container(in_lst):
    area_lst = []
    
    for i in range(0, len(in_lst)):
        for j in range(len(in_lst)-1, -1, -1):
            if i == j: continue
            
            area_lst.append(abs(j-i)*min(in_lst[i],in_lst[j]))
    print(area_lst)
    return max(area_lst)
    
    

in_lst = [1, 8, 6, 2, 5, 4, 8, 3, 7]         
max_possible_water_container(in_lst)

[8, 7, 6, 5, 4, 3, 2, 1, 49, 18, 40, 16, 24, 16, 6, 1, 36, 15, 24, 12, 12, 6, 6, 2, 35, 12, 24, 8, 8, 6, 16, 3, 28, 9, 16, 4, 8, 12, 24, 4, 12, 6, 4, 4, 8, 12, 16, 5, 14, 3, 4, 16, 24, 24, 40, 6, 3, 3, 6, 9, 12, 15, 18, 7, 3, 14, 12, 28, 35, 36, 49, 8]

49

In [16]:
#optimized water container
def max_water_hold(in_list):
    max_area=0
    i=0
    j=len(in_list)-1
    while i<j:
        area=abs(i-j)*(min(in_list[i],in_list[j]))
        if area>max_area:
            max_area=area
       
        if in_list[i]<in_list[j]:
            i+=1
        else:
            j-=1
    print(max_area)
    
in_list=[1,8,12,2,5,4,8,9]
max_water_hold(in_list)

48

# Rain water trapping

In [ ]:
def hold_rain_water(in_list):
    for i in range(1, len(in_list)-1):
        
    

in_list = [0, 1, 0, 2, 1, 0, 1, 3, 2, 1, 2, 1]   
hold_rain_water(in_list)

# Linked List value adding by reverse

In [24]:
class ListNode:
    def __init__(self, val = 0, next_link = None):
        self.val = val
        self.next_link = next_link
    
def add_linked_list(l1, l2):
    carry = 0
    dummy = ListNode()
    current = dummy
    
    while l1 or l2 or carry:
        val1 = l1.val
        val2 = l2.val
        
        current_sum = val1 + val2 + carry
        
        carry = current_sum//10
        
        current.next_link = ListNode(current_sum % 10)
        current = current.next_link
        
        if l1:
            l1 = l1.next_link
        if l2:
            l2 = l2.next_link
    
    return dummy.next_link

def print_linked_list_recursively(link_lst):
    if link_lst.next_link == None:
        print(link_lst.val)
        return
    print(link_lst.val)
    print_linked_list_recursively(link_lst.next_link)
        
l1 = ListNode(2, ListNode(4, ListNode(3)))
l2 = ListNode(5, ListNode(6, ListNode(4)))
out = add_linked_list(l1, l2)
print_linked_list_recursively(out)

7
0
8